In [1]:
# Regression Basics
# Using Data Sets from Quandl

In [2]:
import pandas as pd
import quandl as qd
import math

In [3]:
qd.ApiConfig.api_key = '75WpiEyyBvn2gYbn3yiS'

In [4]:
df = qd.get_table('SHARADAR/SF1', paginate=True)

In [5]:
df.head(10)

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,A,MRY,2011-12-31,2011-10-31,2011-10-31,2018-08-30,1.160000e+08,9.057000e+09,8.625750e+09,5.569000e+09,...,347214336.0,347000000.0,355000000.0,19.063,7.061000e+09,0.000000e+00,20000000.0,0.0,20.349,3.732000e+09
1,A,MRY,2012-12-31,2012-10-31,2012-10-31,2018-08-30,-1.110000e+08,1.053600e+10,9.701250e+09,4.629000e+09,...,348443140.0,348000000.0,353000000.0,19.707,6.425000e+09,0.000000e+00,-110000000.0,0.0,18.463,2.736000e+09
2,A,MRY,2013-12-31,2013-10-31,2013-10-31,2018-08-30,9.100000e+07,1.068600e+10,1.055100e+10,4.983000e+09,...,330791981.0,341000000.0,345000000.0,11.419,6.723000e+09,0.000000e+00,68000000.0,0.0,20.250,3.381000e+09
3,A,MRY,2014-12-31,2014-10-31,2014-10-31,2018-08-30,-3.340000e+08,1.081500e+10,1.071475e+10,5.509000e+09,...,333512738.0,333000000.0,338000000.0,12.156,7.659000e+09,0.000000e+00,-3000000.0,0.0,23.000,3.817000e+09
4,A,MRY,2015-12-31,2015-10-31,2015-10-31,2018-08-30,-3.910000e+08,7.479000e+09,7.415250e+09,3.686000e+09,...,331403231.0,333000000.0,335000000.0,12.126,4.668000e+09,0.000000e+00,42000000.0,0.0,14.145,2.710000e+09
5,A,MRY,2016-12-31,2016-10-31,2016-10-31,2018-08-30,-5.030000e+08,7.794000e+09,7.617500e+09,3.635000e+09,...,324384755.0,326000000.0,329000000.0,12.890,4.861000e+09,0.000000e+00,82000000.0,0.0,14.911,2.690000e+09
6,A,MRY,2017-12-31,2017-10-31,2017-10-31,2018-08-30,-3.460000e+08,8.426000e+09,8.143750e+09,4.169000e+09,...,321828003.0,322000000.0,326000000.0,13.888,5.458000e+09,0.000000e+00,119000000.0,0.0,16.950,2.906000e+09
7,AA,MRY,2013-12-31,2013-12-31,2013-12-31,2018-08-02,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,123000000.0,NaN,NaN,NaN
8,AA,MRY,2014-12-31,2014-12-31,2014-12-31,2018-08-02,-1.316000e+09,1.868000e+10,NaN,2.917000e+09,...,NaN,NaN,NaN,NaN,1.852000e+10,1.065000e+09,284000000.0,565000000.0,NaN,1.820000e+08
9,AA,MRY,2015-12-31,2015-12-31,2015-12-31,2018-08-02,-1.600000e+09,1.641300e+10,1.754650e+10,2.566000e+09,...,NaN,NaN,NaN,NaN,1.641300e+10,5.890000e+08,402000000.0,644000000.0,NaN,1.620000e+08

In [6]:
df.columns

Index(['ticker', 'dimension', 'calendardate', 'datekey', 'reportperiod',
       'lastupdated', 'accoci', 'assets', 'assetsavg', 'assetsc',
       ...
       'sharesbas', 'shareswa', 'shareswadil', 'sps', 'tangibles', 'taxassets',
       'taxexp', 'taxliabilities', 'tbvps', 'workingcapital'],
      dtype='object', length=111)

In [7]:
df.dtypes

ticker                    object
dimension                 object
calendardate      datetime64[ns]
datekey           datetime64[ns]
reportperiod      datetime64[ns]
lastupdated       datetime64[ns]
accoci                   float64
assets                   float64
assetsavg                float64
assetsc                  float64
assetsnc                 float64
assetturnover            float64
bvps                     float64
capex                    float64
cashneq                  float64
cashnequsd               float64
cor                      float64
consolinc                float64
currentratio             float64
de                       float64
debt                     float64
debtc                    float64
debtnc                   float64
debtusd                  float64
deferredrev              float64
depamor                  float64
deposits                 float64
divyield                 float64
dps                      float64
ebit                     float64
                       ...
pb                       float64
pe                       float64
pe1                      float64
ppnenet                  float64
prefdivis                float64
price                    float64
ps                       float64
ps1                      float64
receivables              float64
retearn                  float64
revenue                  float64
revenueusd               float64
rnd                      float64
roa                      float64
roe                      float64
roic                     float64
ros                      float64
sbcomp                   float64
sgna                     float64
sharefactor              float64
sharesbas                float64
shareswa                 float64
shareswadil              float64
sps                      float64
tangibles                float64
taxassets                float64
taxexp                   float64
taxliabilities           float64
tbvps                    float64
workingcapital           float64
Length: 111, dtype: object

In [8]:
df = df[["assets", "price", "revenue", "workingcapital"]]

In [9]:
df.head()

            assets  price       revenue  sharefactor  workingcapital
None
0     9.057000e+09  37.07  6.615000e+09          1.0    3.732000e+09
1     1.053600e+10  35.99  6.858000e+09          1.0    2.736000e+09
2     1.068600e+10  50.76  3.894000e+09          1.0    3.381000e+09
3     1.081500e+10  55.28  4.048000e+09          1.0    3.817000e+09
4     7.479000e+09  37.76  4.038000e+09          1.0    2.710000e+09

In [10]:
forecast_col = "revenue"
df.fillna(0, inplace=True)

In [11]:
forecast_out = int(math.ceil(0.1*len(df)))

In [12]:
df["Forecast_Revenue"] = df[forecast_col].shift(-forecast_out)
# df.dropna(inplace=True)

In [13]:
df.head()

,assets,price,revenue,sharefactor,workingcapital,Forecast_Revenue
None,,,,,,
0,9.057000e+09,37.07,6.615000e+09,1.0,3.732000e+09,1.210389e+10
1,1.053600e+10,35.99,6.858000e+09,1.0,2.736000e+09,1.221576e+10
2,1.068600e+10,50.76,3.894000e+09,1.0,3.381000e+09,1.234930e+10
3,1.081500e+10,55.28,4.048000e+09,1.0,3.817000e+09,7.684778e+06
4,7.479000e+09,37.76,4.038000e+09,1.0,2.710000e+09,8.055958e+06